
<h1>Shelter Info</h1>
<nav class="navigation">

  <%= link_to "See All Shelters", "/shelters", class: "link" %>
  <%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit", class: "link" %>
  <%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete, class: "link" %>
  <%= link_to "See All Pets", "/pets", class: "link" %>
  <%= link_to "View Shelters Pets", "/shelters/#{@shelter.id}/pets", class: "link" %>
</nav>

<body class="display">
  <div class="show">
  <strong>Shelter Name: </strong><%= @shelter.name %><br>

  <strong>Shelter Address: </strong><%= @shelter.address %><br>

  <strong>Shelter City: </strong><%= @shelter.city %><br>

  <strong>Shelter State: </strong><%= @shelter.state %><br>

  <strong>Shelter Zip: </strong><%= @shelter.zip %>
  <div>
</body>
