
<h1>Shelter Info</h1>


<%= link_to "See All Shelters", "/shelters" %>
<%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %>
<%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %>
<%= link_to "See All Pets", "/pets" %>
<%= link_to "View Shelters Pets", "/shelters/#{@shelter.id}/pets" %>
<p><%= @shelter.name %></p>

<p><%= @shelter.address %></p>

<p><%= @shelter.city %></p>

<p><%= @shelter.state %></p>

<p><%= @shelter.zip %></p>
