<h1>Shelter Pets</h1>
  <%= link_to "Create Pet", "/shelters/#{@shelter_id}/pets/new" %>
<ul>
  <% @pets.each do |pet| %>

  <li>
    <h3>Pet Id</h3>
    <%= pet.id %>
  </li>

  <li>
    <h3>Pet Image</h3>
    <%= pet.image %>
    </li>
  <li>
    <h3>Pet Name</h3>
    <%= pet.name %>
  </li>

  <li>
    <h3>Pet Approximate Age</h3>
    <%= pet.approximate_age %>
  </li>

  <li>
    <h3>Pet Gender</h3>
    <%= pet.sex %>
  </li>

  <li>
    <h3>Pet Id</h3>
    <%= pet.id %>
  </li>

  <%= link_to "Update Pet #{pet.id}", "/pets/#{pet.id}/edit" %>
  <%= link_to "Delete Pet #{pet.id}", "/pets/#{pet.id}", method: :delete %>
  <% end %>
</ul>
