
<h1>Shelter Pets</h1>
  <%= link_to "Create Pet", "/shelters/#{@shelter_id}/pets/new" %>
  <%= link_to "See All Pets", "/pets" %>
  <%= link_to "See All Shelters", "/shelters" %>
<ul>
  <% @pets.each do |pet| %>

  <li>
    <h3>Pet Image</h3>
    <p><%="Pet #{pet.id}: #{pet.image}" %></p>
    </li>
  <li>
    <h3>Pet Name</h3>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  </li>

  <li>
    <h3>Pet Approximate Age</h3>
    <%= "Pet #{pet.id}: #{pet.approximate_age}" %>
  </li>

  <li>
    <h3>Pet Gender</h3>
    <%= "Pet #{pet.id}: #{pet.sex}" %>
  </li>

  <li>
    <h3>Pet Shelter</h3>
    <%= link_to "#{pet.shelter.name}", "shelters/#{pet.shelter_id}" %>
  </li>





  <%= link_to "Update Pet #{pet.id}", "pets/#{pet.id}/edit" %>
  <%= link_to "Delete Pet #{pet.id}", "pets/#{pet.id}", method: :delete %>
  <% end %>
</ul>
