
<h1>Shelter Pets</h1>
  <%= link_to "Create Pet", "/shelters/#{@shelter_id}/pets/new" %>
<ul>
  <% @pets.each do |pet| %>


  <li>
    <h3>Pet Image</h3>
    <%= pet.image %>
    </li>
  <li>
    <h3>Pet Name</h3>
    <%= pet.name %>
  </li>

  <li>
    <h3>Pet Approximate Age</h3>
    <%= pet.approximate_age %>
  </li>

  <li>
    <h3>Pet Gender</h3>
    <%= pet.sex %>
  </li>

  <li>
    <h3>Pet Shelter</h3>
    <%= pet.shelter.name %>
  </li>

  <li>
    <h3>Pet Description</h3>
    <%= pet.description %>
  </li>

  <li>
    <h3>Adoption Status</h3>
    <%= pet.adoption_status %>
  </li>

  <li>
    <h3>Pet Id</h3>
    <%= pet.id %>
  </li>

  <% end %>
</ul>
